.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  line-height: 1;
  border: 2px solid transparent;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  flex-shrink: 0;
  color: var(--color-text);
}

.green {
  border-color: var(--color-level-green);
}
.orange {
  border-color: var(--color-level-orange);
}
.red {
  border-color: var(--color-level-red);
}
