.wrapper {
  padding: 12px 18px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleBtn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 12px;
  font-size: var(--font-size);
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.toggleBtnText {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.toggleBtnBar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid var(--color-text);
  border-radius: 16px;
  overflow: hidden;
}

.filterIcon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 6px;
  position: relative;
  z-index: 1;
  line-height: 1;
  border-radius: 50%;
}

.toggleBtn.active {
  gap: 16px;
}

.toggleBtn.active .toggleBtnBar {
  background-color: var(--color-text);
  border-color: var(--color-text);
}

.toggleBtn.active .toggleBtnBar:after {
  content: '';
  position: absolute;
  inset: 0;
  right: 16px;
  z-index: 0;
  background-color: var(--color-bg);
}

.toggleBtn.active .filterIcon {
  background-color: var(--color-text);
  color: var(--color-bg);
}

.badge {
  padding: 0 10px 0 12px;
  position: relative;
  z-index: 1;
}

.levels {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 20px;
  padding: 24px 0;
}

.levelBtn {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: var(--font-size);
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.levelBadge {
  transition: all 0.15s;
}

.levelBtn.selected .levelBadge {
  width: 32px;
  height: 32px;
  background-color: var(--color-text);
  border-color: var(--color-white);
  color: var(--color-bg);
}

@media (max-width: 480px) {
  .wrapper {
    padding: 12px 8px;
  }

  .levels {
    padding: 24px 32px 12px;
  }
}
