.wrapper {
  padding: 12px 18px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.toggleBtnText {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.toggleBtn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--color-text);
  border: 2px solid var(--color-text);
  border-radius: 16px;
  overflow: hidden;
}

.filterIcon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 6px;
  position: relative;
  z-index: 1;
  line-height: 1;
  border-radius: 50%;
}

.toggleBtn.active {
  background-color: var(--color-text);
  border-color: var(--color-text);
}

.toggleBtn.active:after {
  content: '';
  position: absolute;
  inset: 0;
  right: 16px;
  z-index: 0;
  background-color: var(--color-bg);
}

.toggleBtn.active .filterIcon {
  background-color: var(--color-text);
  color: var(--color-bg);
}

.badge {
  padding: 0 10px 0 16px;
  position: relative;
  z-index: 1;
  color: var(--color-white);
}

.levels {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 20px;
  padding: 24px 0;
}

.levelBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.levelBadge {
  transition: all 0.15s;
}

.levelBtn.selected .levelBadge {
  width: 32px;
  height: 32px;
  background-color: var(--color-text);
  border-color: var(--color-white);
  color: var(--color-bg);
}
